footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    position: relative;
    height: 100%;
}

footer::before{
    content: '';
    position: absolute;
    left: -14px;
    top: 10px;
    height: 100%;
    width: 200px;
    background-color: RGB(230, 45, 54);
    clip-path: polygon(100% 50%, 8% 3%, 7% 94%);
}

footer h3{
    margin: auto;
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
    background: black;
    width: 98%;
    padding: 15px 5px 15px 5px;
    border-radius: 3px;
    color: #eee;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: var(--Main_color);
    padding: 12px 0px;
    border-radius: 3px;
}

footer ul li .A-1{
font-size: 20px;
color: #3b5998;
}

footer ul li .A-2{
font-size: 20px;
color: #D44638;
}

footer ul li .A-3{
font-size: 20px;
color: #333;
}

footer .API_Link{
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: white;
        width: 100%;
        padding: 12px 0px;
        border-radius: 3px;
}

footer .API_Link p{
    color: black;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-size: 18px;
}

footer .API_Link i{
color: gray;
}