.header{
    height: 65vh;
    background-size: cover;
    background-color: #656D4A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 14px;
}

.header .image_container img{
    height: 220px;
    width: 220px;
}

.header form{
    position: relative;
}

.header form select{
    border-radius: 2px;
    border: none;
    width: 700px;
    padding: 10px 0px;
}

.header form select:focus{
    outline: none;
}

.TodayHadees{
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 25px;
    border-bottom: solid 1px black;
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
}

.TodayHadees h4{
    font-size: 20px;
    font-weight: 500;
}

.TodayHadees p{
    color: black;
    font-weight: 300;
}

.TodayHadees:hover{
    transition: 300ms;
    background-color: var(--Main_color);
}

.TodayHadees:hover h4 {
    color: white;
}

.TodayHadees:hover p {
    color: white;
}

.options{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 700px;
        margin: auto;
        margin-top: 16px;
        gap: 30px;
}

.options a{
    height: 190px;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 7px;
    position: relative;
}

.options a span{
    color: white;
    position: absolute;
    z-index: 11111;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    right: 15px;
}

.options a .sp-1{
    padding-top: 60px;
}

.options .A-1::before{
    content: "";
    border-radius: 4px;
    height: 100%;
    width: 100%;
    background-image: url("../images/quran.jpg");
    background-size: cover;
    filter: brightness(0.5);
}

.options .A-2::before{
    content: "";
    border-radius: 4px;
    height: 100%;
    width: 100%;
    background-image: url("../images/quran.jpg");
    background-size: cover;
    background-image: url("../images/Almadena_Almenaera.jpg");
    filter: brightness(0.5);
}

.options .A-3::before{
    content: "";
    border-radius: 4px;
    height: 100%;
    width: 100%;
    background-image: url("../images/quran.jpg");
    background-size: cover;
    background-image: url("../images/shakhs_Yadaoo.jpg");
    filter: brightness(0.5);
}

.options .A-4::before{
    content: "";
    border-radius: 4px;
    height: 100%;
    width: 100%;
    background-image: url("../images/quran.jpg");
    background-size: cover;
    background-image: url("../images/salaa.jpg");
    filter: brightness(0.5);
}

.Soar_container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 230px);
    grid-template-rows: repeat(29, 135px);
    justify-content: center;
    row-gap: 16px;
    column-gap: 15px;
}

.Soar_container .Container_Of_Soar{
    display: flex;
        align-items: center;
        justify-content: space-around;
        border: solid 2px var(--Main_color);
        border-radius: 3px;
}

.Soar_container .Container_Of_Soar:hover{
    transition: 200ms;
    background-color: var(--Main_color);
    border: 2px solid rgba(86, 167, 75, 0.82);
}

.Soar_container .Container_Of_Soar:hover p{
    color: white;
}

.Soar_container .Container_Of_Soar:hover button{
    color: white;
}

.Soar_container .Container_Of_Soar:hover .left_container .Number{
    color: black;
}

.Soar_container .Container_Of_Soar:hover .left_container .Number::before{
    background-color: white;
}

.Soar_container .Container_Of_Soar p,button{
    width: fit-content;
    color: black;
}

.Soar_container .Container_Of_Soar button:hover{
    transition: 200ms;
    color: #0000009e;
}

.Soar_container .Container_Of_Soar .left_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Soar_container .Container_Of_Soar .left_container .Number{
    color: white;
    z-index: 111;
    font-size: 15px;
    position: relative;
}

.Soar_container .Container_Of_Soar .left_container .Number::before{
    content: '';
    width: 100%;
    height: 70%;
    padding: 5px;
    background-color: black;
    position: absolute;
    left: -5px;
    top: -1px;
    border-radius: 50%;
    z-index: -1;
}

.Container_Soar{
    background: var(--Main_color);
    width: fit-content;
    height: 40%;
    padding: 55px;
    border-radius: 10px;
    position: fixed;
    z-index: 1111111;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
}

.Container_Soar p{
    color: white;
    font-size: 22px;
}

.Container_Soar button{
    color: white;
    position: fixed;
    top: 15px;
    right: 22px;
    font-size: 29px;
    font-weight: 700;
}

/*(min-width:300px) and (max-width:500px)*/
@media (min-width:300px) and (max-width:500px){
    .options {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
.Soar_container {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: repeat(114, 160px);
        justify-content: center;
        row-gap: 16px;
        column-gap: 15px;
    }
    .header form {
        width: 95%;
    }
    .header form select {
        width: 100%;
    }
    nav {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .TodayHadees p {
        font-size: 15px;
        line-height: 28px;
    }
    nav ul {
        padding-right: 0px; 
    }
    footer {
        width: 70%;
        margin-top: 135px;
        height: 100%;
    }
    footer::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 75%;
        width: 190px;
        background-color: RGB(230, 45, 54);
        clip-path: polygon(50% 100%, 0 0, 99% 0);
        transform: translate(-50%, -160%);
    }
    footer h3 {
        font-size: 9px;
        padding: 12px 0px 12px 5px;
    }
    .Container_Soar {
        width: 60%;
    }
}

/*(min-width:501px) and (max-width:600px)*/
@media (min-width:501px) and (max-width:600px){
    .options {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
.Soar_container {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(57, 160px);
        justify-content: center;
        row-gap: 16px;
        column-gap: 15px;
    }
    .header form {
        width: 95%;
    }
    .header form select {
        width: 100%;
    }
    nav {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .TodayHadees p {
        font-size: 15px;
        line-height: 28px;
    }
    nav ul {
        padding-right: 0px; 
    }
    footer {
        width: 70%;
        margin-top: 135px;
        height: 100%;
    }
    footer::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 75%;
        width: 190px;
        background-color: RGB(230, 45, 54);
        clip-path: polygon(50% 100%, 0 0, 99% 0);
        transform: translate(-50%, -160%);
    }
    footer h3 {
        font-size: 9px;
        padding: 12px 0px 12px 5px;
    }
}

/*(min-width:601px) and (max-width:700px)*/
@media (min-width:601px) and (max-width:700px){
    .options {
        width: 100%;
        gap: 10px;
    }
    .options a {
        height: 190px;
        width: 280px;
    }
.Soar_container {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(57, 160px);
        justify-content: center;
        row-gap: 16px;
        column-gap: 15px;
    }
    .header form {
        width: 95%;
    }
    .header form select {
        width: 100%;
    }
    nav {
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }
    .TodayHadees p {
        font-size: 15px;
        line-height: 28px;
    }
    nav ul {
        padding-right: 0px; 
    }
    footer {
        width: 70%;
        margin-top: 135px;
        height: 100%;
    }
    footer::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 75%;
        width: 190px;
        background-color: RGB(230, 45, 54);
        clip-path: polygon(50% 100%, 0 0, 99% 0);
        transform: translate(-50%, -160%);
    }
    footer h3 {
        font-size: 9px;
        padding: 12px 0px 12px 5px;
    }
}

/*(min-width:701px) and (max-width:800px)*/
@media (min-width:701px) and (max-width:800px){
    .options {
        width: 100%;
        gap: 10px;
    }
    .options a {
        height: 190px;
        width: 280px;
    }
.Soar_container {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(57, 200px);
        justify-content: center;
        row-gap: 16px;
        column-gap: 15px;
    }
    .header form {
        width: 95%;
    }
    .header form select {
        width: 100%;
    }
    nav {
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }
    .TodayHadees p {
        font-size: 15px;
        line-height: 28px;
    }
    nav ul {
        padding-right: 0px; 
    }
    footer {
        width: 70%;
        margin-top: 135px;
        height: 100%;
    }
    footer::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 75%;
        width: 190px;
        background-color: RGB(230, 45, 54);
        clip-path: polygon(50% 100%, 0 0, 99% 0);
        transform: translate(-50%, -160%);
    }
    footer h3 {
        font-size: 9px;
        padding: 12px 0px 12px 5px;
    }
}

/*(min-width:801px) and (max-width:900px)*/
@media (min-width:801px) and (max-width:900px){
    .options {
        width: 100%;
        gap: 15px;
    }
    .options a {
        height: 200px;
        width: 300px;
    }
.Soar_container {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(57, 200px);
        justify-content: center;
        row-gap: 16px;
        column-gap: 15px;
    }
    .header form {
        width: 95%;
    }
    .header form select {
        width: 100%;
    }
    nav {
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }
    .TodayHadees p {
        font-size: 15px;
        line-height: 28px;
    }
    nav ul {
        padding-right: 0px; 
    }
    footer {
        width: 70%;
        margin-top: 135px;
        height: 100%;
    }
    footer::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 75%;
        width: 190px;
        background-color: RGB(230, 45, 54);
        clip-path: polygon(50% 100%, 0 0, 99% 0);
        transform: translate(-50%, -160%);
    }
    footer h3 {
        font-size: 9px;
        padding: 12px 0px 12px 5px;
    }
}


/*(min-width:901px) and (max-width:1000px)*/
 @media (min-width:901px) and (max-width:1000px){
    footer::before {
      content: '';
    position: absolute;
    left: -14px;
    top: 10px;
    height: 100%;
    width: 200px;
    background-color: RGB(230, 45, 54);
    clip-path: polygon(100% 50%, 8% 3%, 7% 94%);
    }

} 