 .Login_Signin {
        height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 35px;
        padding-bottom: 10px;
    }


.Login_Signin > div{
    background-color: white;
    width: 300px;
    padding: 10px 8px 10px 20px;
    direction: rtl;
    position: relative;
    border-radius: 5px;
}

.Login_Signin > div .TopSec{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Login_Signin > div .TopSec button{
    font-weight: 400;
    font-size: 15px;
    background: rgb(86 167 75 / 75%);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
}

.Login_Signin > div .TopSec button:hover{
    transition: 200ms;
    background-color: rgb(86 167 75 / 51%);
}

.Login_Signin .signin{
display: none;
}

.Login_Signin > div h1{
    padding-bottom: 6px;
    font-size: 23px;
    color: var(--Main_color);
}

.Login_Signin > div h2{
    padding-bottom: 6px;
    font-size: 23px;
    color: var(--Main_color);
}

.Login_Signin > div input{
    width: 100%;
    padding: 3px 5px;
    border: solid 1px black;
    border-radius: 2px;
    margin-top: 5px;
    font-size: 11px;
    margin-bottom: 4px;
}

.Login_Signin > div input[type="submit"]{
    cursor: pointer;
    width: 104%;
    padding: 6px 0px;
    background-color: var(--Main_color);
    color: white;
    border: none;
}

.Login_Signin > div input[type="submit"]:hover{
    transition: 200ms;
    background-color: #74b76ba8;
}

.Login_Signin > div select{
    padding: 3px 5px;
    border: solid 1px black;
    border-radius: 2px;
    margin-top: 5px;
    font-size: 11px;
    width: 104%;
}

.Login_Signin > div input,select:focus{
    outline: none;
}

.Login_Signin > div label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
}

.Login_Signin .ForgetPassword{
    display: flex;
    align-items: center;
    gap: 6px
}

.Login_Signin .ForgetPassword a{
    width: fit-content;
    color: #0d6efd;
    font-size: 13px;
    text-decoration-line: underline;
}

.Login_Signin .ForgetPassword a:hover{
    transition: 200ms;
    color: #0d6efd96;
}

.Login_Signin .ForgetPassword p{
    color: #00000085;
    font-size: 12px;
}

.Login_Signin .Cover_Signup{
    position: absolute;
    background: RGB(255, 71, 97);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    z-index: 11111;
}

.Login_Signin .signup .Cover_Signup h4{
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.Login_Signin .signup .Cover_Signup p{
    color: white;
    font-weight: 400;
    font-size: 19px;
}

.Login_Signin .signup .Cover_Signup button{
    border: solid 1px white;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    padding: 6px 110px;
    margin-bottom: -8px;
}

.Login_Signin .signup .Cover_Signup button:hover{
    transition: 200ms;
    background: RGB(255, 100, 97);
}

.Login_Signin .Cover_Signin{
    position: absolute;
    background: RGB(255, 71, 97);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    z-index: 11111;
}

.Login_Signin .signin .Cover_Signin h4{
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.Login_Signin .signin .Cover_Signin p{
    color: white;
    font-weight: 400;
}

.Login_Signin .signin .Cover_Signin button{
    border: solid 1px white;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    padding: 6px 110px;
    margin-bottom: -8px;
}

.Login_Signin .signin .Cover_Signin button:hover{
    transition: 200ms;
    background: RGB(255, 100, 97);
}