.Radio_Container{
    display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        height: 80vh;
        background: #656d4a;
        padding-top: 20px;
}

.Radio_Container audio{
    width: 80%;
}

.Arrow_Container{
    display: flex;
        align-items: center;
        justify-content: space-between;
        width: 12%;
        margin: auto;
}

.Arrow_Container button{
    font-size: 25px;
}

h6{
    position: relative;
    font-size: 22px;
    padding-bottom: 15px;
}


/* (min-width:300px) and (max-width:600px) */
@media (min-width:300px) and (max-width:600px){
    .Arrow_Container {
        gap: 25px;
        height: 65vh;
    }
}