body {
background-color: #eee;
}

*{
  padding: 0;
  margin: 0;
  text-decoration-line: none;
  list-style-type: none;
  font-family: sans-serif;
}

:root{
  --Main_color: #74B76B;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

